<%- include("../partials/header.ejs"); %>

<div class="section section-header">
    <div class="da-page parallax filter filter-color-black">
        <div class="image" style="background-image: url('/img/header-1.jpg'); background-size: auto;"></div>
        <div class="container">
            <div class="content">
                <div class="login-title-area">
                    <h1 class="title-modern">Categories</h1>
                    <div class="separator line-separator">♦</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="padding: 15vh 0">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info-icon">
                    <a href="/services/categories/mechanics">
                        <div class="icon text-danger">
                            <i class="fas fa-wrench"></i>
                        </div>
                        <h3>Mechanics</h3>
                    </a>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mi luctus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-icon">
                    <a href="/services/categories/cars">
                        <div class="icon text-danger">
                            <i class="fas fa-car"></i>
                        </div>
                        <h3>Cars</h3>
                    </a>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mi luctus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-icon">
                    <a href="/services/categories/miscellaneous">
                        <div class="icon text-danger">
                            <i class="fas fa-paperclip"></i>
                        </div>
                        <h3>Miscellaneous</h3>
                    </a>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mi luctus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-icon">
                    <a href="/services/categories/electricians">
                        <div class="icon text-danger">
                            <i class="fas fa-bolt"></i>
                        </div>
                        <h3>Electricians</h3>
                    </a>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mi luctus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs"); %>